input.ui.input {
	padding: 1em;
	border-radius: 0.4em;
	border: 1px solid #222;
	color: #222;
	background: #fff;
	width: 100%;
	display: flex;
	box-sizing: border-box;
	font-size: 1em;
}

input.ui.input:focus::-webkit-input-placeholder {
	color: #aaa;
}

input.ui.input:focus {
	outline: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
