@import "../../style.css";

.icon {
	height: 1.5em;
	width: 1.5em;
	cursor: pointer;
	filter: invert(var(--invert));
}

.icon:hover {
	filter: invert(var(--invert-hover));
}

.modal {
	position: absolute;
	top: 1vh;
	right: 1vw;
	left: 1vw;
	bottom: 0;
	background: var(--bg);
	z-index: 1;
}
