button.ui.btn {
	background: #fff;
	border-radius: 0.4em;
	border: 1px solid #222;
	padding: 1em 0.5em;
	flex-flow: row nowrap;
	flex-grow: 1;
	color: #222;
	cursor: pointer;
	font-size: 1em;
}

button.ui.btn:hover {
	transition: 0.3s ease;
	color: #000;
	background-color: #0001;
	border-color: #000;
}

button.ui.btn:focus {
	outline: 0;
}

button.ui.btn.active {
	background-color: #222;
	border-color: #222;
	color: #fff;
	transition: 0.1s ease;
}

button.ui.btn.active:hover {
	background-color: #000;
	border-color: #000;
	color: #ccc;
}

@media (hover:none) {
	button.ui.btn.active:hover {
		background-color: #222;
		border-color: #222;
		color: #fff;
		transition: 0.1s ease;
	}

	button.ui.btn.red.:hover {
		background-color: #fff;
	}
}

button.ui.btn.red:hover {
	transition: 0.3s ease;
	color: red;
	background-color: #0001;
	border-color: #222;
}

button.ui.btn.red.active {
	background-color: red;
	border-color: #222;
	color: #fff;
	transition: 0.1s ease;
}

button.ui.btn.red.active:hover {
	background-color: red;
	border-color: #222;
	color: #fff;
}

button.ui.btn.blue:hover {
	transition: 0.3s ease;
	color: blue;
	background-color: #0001;
	border-color: #222;
}

button.ui.btn.blue.active {
	background-color: blue;
	border-color: #222;
	color: #fff;
	transition: 0.1s ease;
}

button.ui.btn.blue.active:hover {
	background-color: blue;
	border-color: #222;
	color: #fff;
}

button.red.tinted {
	color: red;
}

button.blue.tinted {
	color: blue;
}
