@import "../style.css";

@media (max-width: 600px){
	div.form {
		display: flex;
		overflow-x: scroll;
		scroll-snap-type: x mandatory;
		scroll-snap-destination: 50% 50%;
	}

	section.section {
		overflow-y: hidden;
		scroll-snap-align: start;
		scroll-snap-stop: always;
		min-width: 100%;
		margin: 0;
	}

	section.inner {
		max-height: 65vh;
		overflow-y: scroll;
		margin: 1em 1em 0 1em;
	}

	pre.validation {
		min-height: 29em;
	}

	body {
		overflow: hidden;
	}

	::-webkit-scrollbar{
		display: none;
	}
}

h5 {
	font-size: 0.8em;
	text-align: center;
	color: var(--fg);
	padding: 0.3em 0;
	margin-top: 0;
}

h4 {
	font-size: 1em;
	text-align: center;
	color: var(--fg);
	padding: 1em 0 0.3em 0;
}

h2 {
	text-transform: uppercase;
	text-align: center;
}

section.section {
	padding: 0 0 10% 0;
}

hr.divider {
	margin-bottom: 3.5em;
	border: none;
	background-color: var(--fg);
	height: 1px;
}

h4 > span.gray {
	color: var(--gray);
	font-weight: 100;
}

pre.validation {
	color: var(--fg);
}
