img {
	height: 1.5em;
	width: 1.5em;
	cursor: pointer;
	filter: invert(.20);
}

img:hover {
	filter: invert(0);
}

div.modal {
	position: absolute;
	top: 1vh;
	right: 1vw;
	left: 1vw;
	bottom: 1vh;
	background: white;
	z-index: 1;
}
