@import "../style.css";

.container {
	width: 70%;
	margin: auto;
	padding-bottom: 1em;
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
	margin-top: 0.1em;
	color: var(--fg)
}

h1.match {
	margin-bottom: 0.2em;
}

h4.team {
	margin-top: 0 !important;
	padding-top: 0.1em !important;
}
