@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* Global Colors:*/
body {
  --bg: #fff;
  --fg: #222;
  --red: #FF1126;
  --dark-red: #F01126;
  --blue: #0074D9;
  --dark-blue: #006AC0;
  --hover-fg: #000;
  --hover-bg: #ccc;
  --active-bg: #222;
  --active-fg: #fff;
  --active-hover-bg: #000;
  --active-hover-fg: #ccc;
  --gray: #aaa;
  --invert: .2;
  --invert-hover: 0;
}

body.dark {
  --bg: #222;
  --fg: #fff;
  --red: #FF1126;
  --dark-red: #F01126;
  --blue: #0074D9;
  --dark-blue: #006AC0;
  --hover-fg: #ccc;
  --hover-bg: #000;
  --active-bg: #fff;
  --active-fg: #222;
  --active-hover-bg: #ccc;
  --active-hover-fg: #000;
  --gray: #aaa;
  --invert: 1;
  --invert-hover: .8;
}

body {
  /* disable text higlightening */
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  padding: 1vh 1vw;
  background: var(--bg)
}


#root {
  max-width: 600px;
  align-items: center;
  margin: auto;
  padding: 1vh;
}

#root > .ui {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

::selection {
  background: #ffb6c1; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffb6c1; /* Gecko Browsers */
}

* {
  font-family: 'Montserrat', sans-serif;
}

*:not(.ui) {
  transition: color 0.5s;
  transition: background-color 1s;
}

h1, h2, h3, h4, h6{
  margin-top: 1em;
  margin-bottom: 0.1em;
}

h5 {
  margin-bottom: 0.1em;
}
